/* FONTES */

@font-face {
    font-family: 'Konnect';
    font-style: normal;
    font-weight: normal;
    src: local('Konnect Regular'), url('../fonts/KonnectRegular.woff') format('woff');
}

@font-face {
    font-family: 'Konnect Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Konnect Bold'), url('../fonts/KonnectBold.woff') format('woff');
}

@font-face {
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: normal;
    src: local('SVN-Gilroy'), url('../fonts/SVNGilroy Bold.woff') format('woff');
}

@font-face {
    font-family: 'Bebas';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas'), url('../fonts/Bebas.ttf') format('otf');
}

@font-face {
    font-family: 'Inters';
    font-style: normal;
    font-weight: normal;
    src: local('Bebas'), url('../fonts/Inter.ttf') format('otf');
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

/* ROOT */

:root {
    --principal: #F36B2A;
    --secundaria: #FAB771;
    --background: #12141D;
    --background2: #1E2029;
    --background3: #2A2C34;
    --fonte: 'SVN-Gilroy';
    --fonte2: 'Inters', sans-serif;
    --fontcolor: #fff;
    --descricao: #B3BEDA;
}


/* ESSENCIAL */


*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--fonte);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--fontcolor);
  background-color: var(--background);
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: currentColor;
    border: 0;
    opacity: 0.25;
  }
  
  hr:not([size]) {
    height: 1px;
  }
  
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  h1, .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
  @media (min-width: 1200px) {
    h1, .h1 {
      font-size: 2.5rem;
    }
  }
  
  h2, .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
  @media (min-width: 1200px) {
    h2, .h2 {
      font-size: 2rem;
    }
  }
  
  h3, .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
  @media (min-width: 1200px) {
    h3, .h3 {
      font-size: 1.75rem;
    }
  }
  
  h4, .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
  @media (min-width: 1200px) {
    h4, .h4 {
      font-size: 1.5rem;
    }
  }
  
  h5, .h5 {
    font-size: 1.25rem;
  }
  
  h6, .h6 {
    font-size: 1rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }


  abbr[title],
  abbr[data-bs-original-title] {
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    cursor: help;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
  }
  
  address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
  }
  
  ol,
  ul {
    padding-left: 2rem;
  }
  
  ol,
  ul,
  dl {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0;
  }
  
  dt {
    font-weight: 700;
  }
  
  dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
  }
  
  blockquote {
    margin: 0 0 1rem;
  }
  
  b,
  strong {
    font-weight: bolder;
  }
  
  small, .small {
    font-size: 0.875em;
  }
  
  mark, .mark {
    padding: 0.2em;
    background-color: #fcf8e3;
  }
  
  sub,
  sup {
    position: relative;
    font-size: 0.75em;
    line-height: 0;
    vertical-align: baseline;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  sup {
    top: -0.5em;
  }
  
  a {
    color: #0d6efd;
    text-decoration: underline;
  }
  a:hover {
    color: #0a58ca;
  }
  
  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }
  
  pre,
  code,
  kbd,
  samp {
    font-family: var(--bs-font-monospace);
    font-size: 1em;
    direction: ltr /* rtl:ignore */;
    unicode-bidi: bidi-override;
  }
  
  pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto;
    font-size: 0.875em;
  }
  pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
  
  code {
    font-size: 0.875em;
    color: #d63384;
    word-wrap: break-word;
  }
  a > code {
    color: inherit;
  }
  
  kbd {
    padding: 0.2rem 0.4rem;
    font-size: 0.875em;
    color: #fff;
    background-color: #212529;
    border-radius: 0.2rem;
  }
  kbd kbd {
    padding: 0;
    font-size: 1em;
    font-weight: 700;
  }
  
  figure {
    margin: 0 0 1rem;
  }
  
  img,
  svg {
    vertical-align: middle;
  }
  
  table {
    caption-side: bottom;
    border-collapse: collapse;
  }
  
  caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #6c757d;
    text-align: left;
  }
  
  th {
    text-align: inherit;
    text-align: -webkit-match-parent;
  }
  
  thead,
  tbody,
  tfoot,
  tr,
  td,
  th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
  }
  
  label {
    display: inline-block;
  }
  
  button {
    border-radius: 0;
  }
  
  button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px;
  }
  
  input,
  button,
  select,
  optgroup,
  textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  button,
  select {
    text-transform: none;
  }
  
  [role=button] {
    cursor: pointer;
  }
  
  select {
    word-wrap: normal;
  }
  
  [list]::-webkit-calendar-picker-indicator {
    display: none;
  }
  
  button,
  [type=button],
  [type=reset],
  [type=submit] {
    -webkit-appearance: button;
  }
  button:not(:disabled),
  [type=button]:not(:disabled),
  [type=reset]:not(:disabled),
  [type=submit]:not(:disabled) {
    cursor: pointer;
  }

@media (min-width: 1200px) {
    legend {
      font-size: 1.5rem;
    }
  }
  legend + * {
    clear: left;
  }

  ::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-color-swatch-wrapper {
  padding: 0;
}

::file-selector-button {
  font: inherit;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

iframe {
  border: 0;
}

summary {
  display: list-item;
  cursor: pointer;
}

progress {
  vertical-align: baseline;
}

[hidden] {
  display: none !important;
}
::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  
  ::-webkit-color-swatch-wrapper {
    padding: 0;
  }
  
  ::file-selector-button {
    font: inherit;
  }
  
  ::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button;
  }
  
  output {
    display: inline-block;
  }
  
  iframe {
    border: 0;
  }
  
  summary {
    display: list-item;
    cursor: pointer;
  }
  
  progress {
    vertical-align: baseline;
  }
  
  [hidden] {
    display: none !important;
  }



/* CUSTOM DEF */

.paragraph{
  color: var(--descricao);
  font-family: var(--fonte2);
  font-size: 15px;
}

.description{ 
  color: var(--principal);
}
.title{
  /* font-size: calc(20px + 1vw); */
  font-size: 30px;
}

#header{  
  height: 610px;
}

.back-header{
  position: absolute;
  width: 100%;
}

#home{   
  background-image: url(../img/header.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1540px;
}

#topbar{
  font-family: var(--fonte2)!important;
  justify-content: space-between;
  z-index: 9000;
}

#topbar ul{ 
  list-style: none;
  padding: 0;
  margin-right: 45px;
}

#topbar ul li{
  line-height: 65px;
  margin-left: 42px;
  display: inline;
}
#topbar ul li a{
  color: var(--fontcolor)!important;
  text-decoration: none;
  font-size: 13px;
  transition: ease-in-out 0.32s ;
}
#topbar ul li a:hover{
  border-bottom: solid 1px var(--principal);
}


.header-form{
  padding: 45px;
  padding-top: 20px;
  width: 350px;
  height: 465px;


  background-color: var(--background3);
}

.header-form .subtitle{
  font-size: 30px;
  margin-bottom: 15px;
}
.header-form .paragraph{
  font-size: 15px;
  color: var(--fontcolor);
}
.header-form .form-component{
  margin-bottom: 20px;
  /*background-color: blue;*/
}

.header-form .form-component label{  
  color: var(--fontcolor)!important;
  font-size: 12px;
  font-family: var(--fonte2);

}

.iconlabel{
  position: absolute;  
  font-size: 17px;
  
  color: var(--principal);
  margin-top: 10px;
  left: 70px;
}

.header-form .form-component input{

  width: 100%;
  height: 40px;
  padding-left: 35px;

  outline-color: var(--background2);

  color: var(--fontcolor)!important;
  font-family: var(--fonte2);
  font-size: 12px;

  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;

  background-color: transparent;
}

.header-form button{
  padding: 15px 20px;
  
  border:none;
  border-radius: 4px ;

  width: 100%;

  font-size: 14px;
  font-weight: 700;
  color: var(--background3);

  background-color: var(--principal);
}

#alternative-form{
  position: fixed;
  top:35px;
  left: -500px;

  transition: 0.32s;
  margin: 0 auto;

  z-index: 9999;
}

.header-text{
  margin: 85px -15px;
  
}

.header-text .title{
  font-size: 45px;
}

.header-text .paragraph{
  font-size: 15px;
  font-weight: lighter;
  color: white;
}

.foater-bar{
  border-bottom: 96px solid white;
  border-left: 55px solid transparent;
  border-right: 55px solid transparent;
  height: 0;
  width: 1200px;

  position: fixed;
  left: calc(50% - 600px);
  bottom: 0;

    
  color: var(--principal);
  font-size: 32px;

  display: flex;
  justify-content: space-around;

  cursor: pointer;
}

.foater-bar-names{
  font-size: 18px;
}

#second-header-text{
  margin-top: 135px;
}

#second-header .title{
  margin-bottom: 30px;
}

#third-header, #fourth-header, #sixth-header{
  margin-top: 150px;
  text-align: center;
}

#third-header .title{
  color: var(--principal);
  margin-bottom: 35px;
}

#third-header-img{
  margin-top: 50px;
  
}
#fourth-header .title{
  color: var(--principal);
  margin-bottom: 35px;

}

#gallery{
  margin-top: 20px;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

#gallery .gallery-pic{

  width: 250px;
  height: 240px;
  margin: 10px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  overflow: hidden;

  /* background-color: blue; */
}

#gallery #gallery-text{
  margin-top: 20px;
  width:100%;
}

#gallery a{

  text-decoration: none;
  cursor: pointer;  

}

#fifth-header{  
  margin-top: 250px;
}

#fifth-header-fav{
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
}
#fifth-header .title{
  margin-bottom: 25px; 

}
#fifth-header-img{
  margin-top: -250px;
  margin-right: -150px;
}

#fifth-header-button{
  background-color: #F5600F;
  border-radius: 4px;
  width: 250px;
  text-align: center;
  cursor: pointer;
  padding: 15px;
  padding-left: 45px;
  padding-right: 45px;
}

#modalidades{
  height: 175px;
  width: 100vw;

  margin-top: 55px;
  margin-left: -15px;
  background-color: #1E2029;


}
#seventh-header{
  margin-top: -23px;

  background-image: url('../img/spam-laranja.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  text-align: center;

  height: 750px;
}

#seventh-header-fav{
  margin-top: 20px;
}

@media (min-width: 1130px){
  
  .container-fav{
    width: 1100px;
    margin: 0 auto;
  }

}


@media (max-width: 991px){
  #topbar ul{
    display: none;
  }

  #topbar img{
    margin: auto;
  }
  .header-form{
    width:100%;
    margin-top: 480px;  
  }
}